@model ShopApp.WebUI.Models.CategoryModel

@{
    ViewData["Title"] = "EditCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="background-color:rgb(249, 249, 249);border-radius: 15px;padding: 3%;" class="container ">
    <div class="row">
        <div class="col-lg-6 ">
            <div class="row">
                <h4>
                    <strong> Kategori Bilgileri </strong>
                </h4><br>
            </div>
            <div style="margin-top: 15px;" class="row">
                <div class="col-8">
                    <form asp-controller="admin" asp-action="CategoryEdit" method="post">
                        <div class="row">
                            <div class="col-3">
                                <span class="order-edit">
                                    Kategori
                                </span>
                            </div>
                            <div class="col-9">
                                <input class="order-edit_input" type="text" asp-for="@Model.Name" value="@Model.Name" placeholder="@Model.Name">
                            </div>
                        </div>

                        <div class="row ">
                            <button id="save" class="primary-btn ">Kaydet</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6 ">
            <div class="row">
                <h4>
                    <strong>Kategori Ürünleri</strong>
                </h4>
            </div>
            <div class="tablo row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Numarası</th>
                            <th>Resim</th>
                            <th>Adı</th>
                            <th>Fiyat</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Products)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="/Theme/img/product/@item.ImageUrl"
                                             alt=""
                                             style="width: 45px; height: 45px"
                                             class="rounded-circle" />
                                    </div>
                                </td>
                                <td>
                                    <p class="fw-normal mb-1">@item.Name</p>
                                </td>
                                <td>
                                    <p class="fw-normal mb-1">@item.Price</p>
                                </td>
                                <td>@item.Gender</td>
                                <td></td>
                                <td>
                                    <a href="/admin/products/@item.Id" class="btn btn-link badge-primary btn-pill btn-sm fw-bold">EDIT</a>
                                    <form action="/admin/deletefromcategory/" method="post" style="display:inline" id="myForm_@item.Id">
                                        <input type="hidden" name="id" value="@item.Id" />
                                        <input type="hidden" name="categoryid" value="@Model.Id" />
                                        <button type="submit" style="color:white;text-decoration:none"
                                                onclick="myFunction(event, @item.Id)"
                                                class="btn btn-link badge-danger btn-pill btn-sm fw-bold">
                                            DELETE
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

