@using ShopApp.Entites;
@model ShopApp.WebUI.Models.AddProductModel
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="background-color:rgb(249, 249, 249);border-radius: 15px;padding: 3%;" class="container">
    <form asp-controller="Admin" asp-action="CreateProduct" method="post" enctype="multipart/form-data">
    <div class="row">
         
        <div class="col-lg-9">
            <div class="row">
                <h4>
                    <strong> Ürün Bilgileri </strong>
                </h4><br>
            </div>
          
            <div style="margin-top: 15px;" class="row">
                <div class="col-8">

                    <div class="row">
                        <div class="col-3">
                            <span class="order-edit">
                                Ürün İsmi
                            </span>
                        </div>
                        <div class="col-9">
                                <input asp-for="Name" value="@Model.Name" class="order-edit_input" type="text" placeholder="Ürün Adını Giriniz">
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-3">
                                <span class="order-edit">
                                    Ürün Detayları
                                </span>
                            </div>
                            <div class="col-9">
                                <textarea style="height:70px ;" asp-for="Description" value="@Model.Description" class="order-edit_input  m-1" placeholder="Ürün Bilgilerini Giriniz"> </textarea>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-3">
                            <span class="order-edit">
                                Ürün Fiyatı
                            </span>
                        </div>
                        <div class="col-9">
                                <input asp-for="Price" value="@Model.Price" class="order-edit_input" type="text" placeholder="Ürün Fiyatı Giriniz">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <span class="order-edit">
                                Ürün Durumu
                            </span>
                        </div>
                        <div class="col-9">
                            <select class="select" name="Condition" id="">
                                <option value="True">Aktif</option>
                                <option value="False">Pasif</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-3">
                            <span class="order-edit">
                                Ürün Resmi
                            </span>
                        </div>
                        <div class="col-9">
                            <input type="file" name="file" placeholder="Dosya Yükleyiniz">
                        </div>
                    </div>
                    <div class="row ">
                        <button id="save" class="primary-btn ">Kaydet</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-3">
            <h4><strong>Kategoriler</strong></h4>
            <br>
                @foreach (var item in (List<Category>)ViewBag.Categories)
                {

                    <div>
                        <label><input type="checkbox" name="categoryIds" value="@item.Id">@item.Name</label>
                    </div>
                }
        </div>
    </div>
    </form>
</div>

