@using ShopApp.Entites
@model ShopApp.WebUI.Models.AddProductModel
@{
    ViewData["Title"] = "EditProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var counter = 0;
}

<div style="background-color:rgb(249, 249, 249);border-radius: 15px;padding: 5%;" class="container">
    <div class="row ">
        <img style="margin: auto;" src="/Theme/img/product/@Model.ImageUrl" alt="">
    </div>
    <form asp-controller="admin" asp-action="EditProduct" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    <h4>
                        <strong> Ürün Bilgileri </strong>
                    </h4><br>
                </div>
                <div style="margin-top: 15px;" class="row">
                    <div class="col-8">

                        <div class="row">
                            <div class="col-3">
                                <span class="order-edit">
                                    Ürün İsmi
                                </span>
                            </div>
                            <div class="col-9">
                                <input class="order-edit_input" asp-for="@Model.Name" value="@Model.Name" value="@Model.Name" type="text" placeholder="Ürün Adını Giriniz">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <span class="order-edit">
                                    Ürün Detayı
                                </span>
                            </div>
                            <div class="col-9">
                                <textarea style="height:70px ;" asp-for="@Model.Description" value="@Model.Description" class="order-edit_input  m-1" placeholder="Ürün Bilgilerini Giriniz"> @Model.Description</textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <span class="order-edit">
                                    Ürün Fiyatı
                                </span>
                            </div>
                            <div class="col-9">
                                <input class="order-edit_input" asp-for="@Model.Price" value="@Model.Price" type="text" placeholder="Ürün Fiyatı Giriniz">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <span class="order-edit">
                                    Ürün Durumu
                                </span>
                            </div>
                            <div class="col-9">
                                <select class="select" name="Condition" id="">
                                    <option value="True">Aktif</option>
                                    <option value="False">Pasif</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-3">
                                <span class="order-edit">
                                    Ürün Resmi
                                </span>
                            </div>
                            <div class="col-9">
                                <input type="file" value="@Model.ImageUrl" placeholder="@Model.ImageUrl">
                            </div>
                        </div>
                        <div class="row ">
                            <button id="save" class="primary-btn " type="submit">Kaydet</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <h4><strong>Kategoriler</strong></h4>
                <br>
                @foreach (var item in (List<Category>)ViewBag.Categories)
                {
                    var isChecked = "";

                    if (Model.SelectedCategories.Any(x => x.Id == item.Id))
                    {
                        isChecked = "checked";
                        <input type="hidden" name="SelectedCategories[@counter]" value="@item.Id" />
                        <input type="hidden" name="SelectedCategories[@counter]" value="@item.Name" />

                        counter++;

                    }

                    else
                    {
                        isChecked = "";
                    }

                    <div class="custom-control custom-checkbox">
                        <input type="checkbox"
                               name="categoryIds"
                               value="@item.Id"
                               class="custom-control-input"
                               id="category@(item.Id)"
                        @isChecked />


                        <label class="custom-control-label" for="category@(item.Id)">@item.Name</label>
                    </div>


                }

            </div>
        </div>
    </form>
</div>

