@using ShopApp.WebUI.Models
@model OrderInfoListModel
@{
    ViewData["Title"] = "OrderList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Hero Section End -->
<!-- Last Order List Begin-->
<div class="container">
    <h2 class="text-center"><strong>Son Siparişler</strong></h2><br>
    <div class="row">
        <div class="col-12">
            <div class=" tablo row">
                <table class="table">
                    <thead>
                    <th>Sipariş No</th>
                    <th> Ad-Soyad</th>
                    <th> Telefon</th>
                    <th> Email</th>
                    <th>Tarih</th>
                    <th>Ödeme Id</th>
                    <th>Müşteri Türü</th>
                    <th>Sipariş Durumu</th>
                    <th>Görüntüle</th>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Orders)
                        {
                            <tr>
                                <td>@item.OrderNumber</td>
                                <td>@item.FistName @item.LastName</td>
                                <td>@item.Phone</td>
                                <td>@item.Email</td>
                                <td>@item.OrderTime.ToString("mm:HH dddd, dd MMMM yyyy")</td>
                                <td>
                                    @if (item.PaymentId != null)
                                    {
                                        <strong style="color:green">@item.PaymentId</strong>

                                    }
                                    else
                                    {
                                        <strong style="color:red">Ödeme Yapılmadı</strong>
                                    }
                                </td>
                                <td>
                                    @if (item.PaymentId == null)
                                    {
                                        <strong>Bayi</strong>
                                    }
                                    else
                                    {
                                        <strong>Kullanıcı</strong>
                                    }
                                </td>
                                <td>
                                    @if (item.Condition == "Sipariş Alındı")
                                    {
                                        <strong style="color:blue">@item.Condition</strong>
                                    }

                                    else if (item.Condition == "Hazırlanıyor")
                                    {
                                        <strong style="color:turquoise">@item.Condition</strong>
                                    }
                                    else if (item.Condition == "Kargoya Verildi")
                                    {
                                        <strong style="color:orange">@item.Condition</strong>
                                    }
                                    else if (item.Condition == "Sipariş Tamamlandı")
                                    {
                                        <strong style="color:green">@item.Condition</strong>
                                    }
                                    else if (item.Condition == "Sipariş İptal")
                                    {
                                        <strong style="color:red">@item.Condition</strong>
                                    }



                                </td>
                                <td>
                                    <a href="/admin/OrderDetails/@item.Id" class="btn btn-link badge-primary btn-pill btn-sm fw-bold">Detay</a>
                                </td>
                            </tr>

                        }

                    </tbody>

                </table>
            </div>

        </div>


    </div>

</div>
