@model ShopApp.WebUI.Models.ProductModel
@{
    ViewData["Title"] = "ProductList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<div class="container ">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-lg-10">
                    <h2 class=""><strong>ÜRÜNLER</strong></h2>
                </div>
                <br />
                <div class=" col-lg-2">
                    <a class="site-btn" asp-controller="Admin" asp-action="CreateProduct"> Yeni Ürün Ekle</a>
                </div>
            </div>
            <div class="tablo row">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>Ürün ID</th>
                            <th>Ürün Foto</th>
                            <th>Ürün İsmi</th>
                            <th>Açıklama</th>
                            <th>Fiyat</th>
                            <th>Durum</th>
                            <th>İşlem</th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model.Products)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="/Theme/img/product/@item.ImageUrl"
                                             alt=""
                                             style="width: 45px; height: 45px"
                                             class="rounded-circle" />
                                    </div>
                                </td>
                                <td>@item.Name</td>
                                <td>@item.Description</td>
                                <td>@item.Price</td>
                                @if (item.Condition=="True")
                                {
                                    <td>
                                        <span class="badge badge-success rounded-pill d-inline">Aktif</span>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <span class="badge badge-danger rounded-pill d-inline">Pasif</span>
                                    </td>
                                }
                                <td>
                                    <a href="/admin/products/@item.Id" class="btn btn-link badge-primary btn-pill btn-sm fw-bold">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </a>
                                    <form asp-controller="Admin" asp-action="ProductDelete" method="post" style="display:inline" id="myForm_@item.Id">
                                        <input type="hidden" name="id" value="@item.Id" />
                                        <button style="color:white;text-decoration:none" onclick="myFunction(event, @item.Id)" class="btn btn-link badge-danger btn-pill btn-sm fw-bold">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            Sil
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>

        </div>

    </div>
</div>

