@model ShopApp.WebUI.Models.ProductModel
@{
    ViewData["Title"] = "AllList";
    Layout = "~/Views/Shared/_Layout.cshtml";
   

}

<section class="breadcrumb-section set-bg" data-setbg="/Theme/img/baharatBanner.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Alışveriş</h2>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    @await Component.InvokeAsync("CategoryList")
                    <div class="sidebar__item">
                        <div class="latest-product__text">
                            <h4>Son Eklenen   </h4>
                            @await Component.InvokeAsync("GetLastAddShop")
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="product__discount">
                    <div class="section-title product__discount__title">
                        <h2>Gözde Ürünlerimiz</h2>
                    </div>
                    @await Component.InvokeAsync("GetPopularTrendShop")
                </div>
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="filter__found">
                                <h6><span></span>@ViewBag.ProductsCount Ürün Bulundu</h6>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3">
                        </div>
                    </div>
                </div>
                <div class="row">
                    @foreach (var item in Model.Products)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="/Theme/img/product/@item.ImageUrl">
                                    <ul class="product__item__pic__hover">
                                        <li><a asp-controller="Shop" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">@item.Name</a></h6>
                                    <h5>@item.Price ₺</h5>
                                </div>
                            </div>
                        </div>
                    }

                </div>
                <div class="col-lg-12 text-center">
                    <div class="product__pagination">
                        <div page-model="@Model.PageInfo"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

