@using ShopApp.WebUI.Models;
@model ShopApp.WebUI.Models.RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mutlu Baharat</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/Theme/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/Theme/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/Theme/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/Theme/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/Theme/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/Theme/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/Theme/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/Theme/css/style.css" type="text/css">
    <link rel="stylesheet" href="/Theme/css/register.css" type="text/css">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="img/logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__widget">

            <div class="header__top__right__auth">
                <a asp-controller="Account" asp-action="Login"><i class="fa fa-user"></i> Giriş</a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a asp-asp-controller="Home" asp-action="Index">Ana Sayfa</a></li>
                <li><a asp-asp-controller="Shop" asp-action="AllList">Aışveriş</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i>info@mutlubaharat.com</li>
                <li>Sisteme kayıt olarak alışverişe başlayabilirsiniz</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i>info@mutlubaharat.com</li>
                                <li> 100₺ ve üzeri kargo bedava</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-instagram"></i></a>

                            </div>


                            @if (User.Identity.IsAuthenticated)
                            {
                                @await Component.InvokeAsync("GetUser")

                                <div class="header__top__right__auth">
                                    <a asp-controller="Account" asp-action="Logout"><i class="fa fa-sign-out"></i> Çıkış</a>
                                </div>
                            }
                            else
                            {
                                <div class="header__top__right__auth">
                                    <a asp-controller="Account" asp-action="RegisterUser" style="margin-right:10px"><i class="fa fa-plus"></i>Kayıt Ol</a>
                                </div>

                                <div class="header__top__right__auth">
                                    <a asp-controller="Account" asp-action="Login"><i class="fa fa-user"></i>   Giriş</a>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2 text-center">
                    <div class="header__logo">
                        <a href="./index.html"><img src="/Theme/img/logo.png" alt="" style="margin-top:0px"></a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>

                            <li><a asp-controller="Shop" asp-action="AllList">Alışveriş</a></li>
                            <li><a asp-controller="Home" asp-action="Contact">İletişim</a></li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li><a asp-controller="Cart" asp-action="GetOrders">Siparişlerim</a></li>
                            }
                            @if (User.IsInRole("Admin"))
                            {
                                <li><a asp-controller="Admin" asp-action="Index">Admin</a></li>
                            }


                        </ul>
                    </nav>
                </div>
                <div class="col-lg-2">
                    <div class="header__cart">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <ul>
                                @await Component.InvokeAsync("TotalBag")
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li>
                                        @User.Identity.Name
                                    </li>
                                }

                            </ul>
                        }

                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <h2><a class="underlineHover" asp-controller="Account" asp-action="RegisterUser"> Kullanıcı </a></h2>
            <h2 id="seller" class="underlineHover"><a class="underlineHover" asp-controller="Account" asp-action="Register"> Bayi </a></h2>

            <!-- Icon -->
            <div class="fadeIn first">
                <i class="bi bi-cart">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                    </svg>
                </i><br>
                <h3>Bayi Kayıt</h3>
            </div>

            <!-- Register Form -->
            <form class="user" asp-controller="Account" asp-action="Register" method="post">
                <div class="row">
                    <div class="col-6 ">

                        <input type="text" id="login" class="fadeIn second" asp-for="@Model.FullName" placeholder="Ad-Soyad..."><br />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                        <input type="text" class="fadeIn third" asp-for="@Model.UserName" placeholder="Kullanıcı Adınız..."><br />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                        <input type="text" class="fadeIn third" asp-for="@Model.Phone" placeholder="Telefon Numaranız..."><br />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <input type="text" class="fadeIn third" asp-for="@Model.SellerNumber" placeholder="Bayi Numarası..."><br />
                        <input type="text" class="fadeIn third" asp-for="Email" placeholder="E-Posta Adresiniz..."><br />
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <input type="password" id="password" class="fadeIn third" asp-for="@Model.Password" placeholder="Şifreniz..."><br />
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <input type="password" id="password" class="fadeIn third" asp-for="@Model.RePassword" placeholder="Şifre Tekrar..."><br />
                        <span asp-validation-for="RePassword" class="text-danger"></span>
                    </div>
                </div>
                <input type="submit" class="fadeIn fourth" value="Kayıt Ol">
            </form>
            @if (TempData["message"] != null)
            {
                <partial name="_resultMessage" model="@(TempData.Get<ResultMessage>("Message"))" />
            }
        </div>
    </div>
    <!-- Footer Section Begin -->
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/Theme/js/jquery-3.3.1.min.js"></script>
    <script src="/Theme/js/bootstrap.min.js"></script>
    <script src="/Theme/js/jquery.nice-select.min.js"></script>
    <script src="/Theme/js/jquery-ui.min.js"></script>
    <script src="/Theme/js/jquery.slicknav.js"></script>
    <script src="/Theme/js/mixitup.min.js"></script>
    <script src="/Theme/js/owl.carousel.min.js"></script>
    <script src="/Theme/js/main.js"></script>
    <script src="~/jquery/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/jquery/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>

