@model ShopApp.WebUI.Models.OrderModel
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="checkout spad">
    <div class="container">
        <div class="row">
        </div>
        <div class="checkout__form">
            <h4>Fatura Detayları</h4>

            <div class="row">
                <div class="col-lg-8 col-md-6">
                    <form asp-controller="Cart" asp-action="Checkout" method="post">
                        <div class="row">
                            <input type="hidden" name="@Model.Condition" value="Sipariş Alındı"/>
                            <div class="col-lg-6">
                                <div class="edit_input">
                                    <p>Adınız<span>*</span></p>
                                    <input type="text" asp-for="@Model.FirstName" placeholder="Adınızı Giriniz..." class="edit_input__add">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="edit_input">
                                    <p>Soyadınız<span>*</span></p>
                                    <input type="text" asp-for="@Model.LastName" placeholder="Soyadınızı Giriniz..." class="edit_input__add">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="edit_input">
                                    <p>E-posta<span>*</span></p>
                                    <input type="text" asp-for="@Model.Mail" placeholder="E-Postanızı Giriniz..." class="edit_input__add">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="edit_input">
                                    <p>Telefon<span>*</span></p>
                                    <input type="text" asp-for="@Model.Phone" placeholder="Telefon Numarası Giriniz..." class="edit_input__add">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="edit_input">
                                    <p>İl<span>*</span></p>
                                    <input type="text" asp-for="@Model.City" placeholder="İl giriniz..." class="edit_input__add">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="edit_input">
                                    <p>İlçe<span>*</span></p>
                                    <input type="text" asp-for="@Model.District" placeholder="İlçe giriniz..." class="edit_input__add">
                                </div>
                            </div>
                        </div>
                        <div class="edit_input">
                            <p>Adres<span>*</span></p>
                            <input type="text" asp-for="@Model.Address" placeholder="Teslimat adresi giriniz..." class="edit_input__add">
                        </div>
                        @if (User.IsInRole("User") == true)
                        {
                            <div class="row">
                                <div class="col-12">
                                    <h4>
                                        Ödeme Bilgileri
                                    </h4>
                                </div>

                                <div class="row col-12">
                                    <div class="col-6">
                                        <div class="edit_input">
                                            <p>Kart Numarası<span>*</span></p>
                                            <input type="text" asp-for="@Model.CardNumber" placeholder="Numara Giriniz..." class="edit_input__add">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="edit_input">
                                            <p>Kart Üstündeki İsim<span>*</span></p>
                                            <input type="text" asp-for="@Model.CardName" placeholder="İsim Giriniz..." class="edit_input__add">
                                        </div>
                                    </div>

                                    <div class="row col-12">
                                        <div class="col-4">
                                            <div class="edit_input">
                                                <p>Kart Üzerindeki Tarih<span>*</span></p>
                                                <input type="text" asp-for="@Model.ExpirationMonth" placeholder="Ay" class="edit_input__add">
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="edit_input">
                                                <p>Kart Üzerindeki Tarih<span>*</span></p>
                                                <input type="text" asp-for="@Model.ExpirationYear" placeholder="Yıl" class="edit_input__add">
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="edit_input">
                                                <p>CCV<span>*</span></p>
                                                <input type="text" asp-for="@Model.Cvv" placeholder="CCV" class="edit_input__add">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        }
                   
                        <button type="submit" class="site-btn">Tamamla</button>
                    </form>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="checkout__order">
                        <h4>Sipariş Toplamı</h4>
                        <div class="checkout__order__products">Sipariş<span>Fiyat</span></div>
                        <ul>
                            @foreach (var item in Model.CartModel.CartItems)
                            {
                                <li>@item.Name<span>@item.Quantity x @item.Price</span><span></span></li>
                            }
                        </ul>
                        <div class="checkout__order__subtotal">Ara Toplam <span>@Model.CartModel.TotalPrice() ₺</span></div>
                        <div class="checkout__order__total">Toplam <span>@Model.CartModel.TotalPrice() ₺</span></div>

                
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

