@model ShopApp.WebUI.Models.CartModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="shoping__product">Ürünler</th>
                                <th>Ürün Adı</th>
                                <th>Fiyat</th>
                                <th>Miktar</th>
                                <th></th>
                                <th>Tutar</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CartItems)
                            {
                                var tutar = (item.Price * item.Quantity);
                                <tr>
                                    <td class="shoping__cart__item">
                                        <img src="/Theme/img/product/@item.ImageUrl" style="height:100px;width:auto" alt="">
                                    </td>
                                    <td class="shoping__cart__price">
                                        @item.Name
                                    </td>
                                    <td class="shoping__cart__price">
                                        @item.Price ₺
                                    </td>
                                    <td class="shoping__cart__price">
                                        @item.Quantity
                                    </td>
                                    <td class="shoping__cart__price">
                                    </td>
                                    <td class="shoping__cart__price" style="color:green">
                                        @tutar ₺
                                    </td>
                                    <td></td>
                                    <td>
                                        <form asp-controller="Cart" asp-action="DeleteFromCart" method="post">
                                            <input type="hidden" name="productId" value="@item.ProductId"></input>
                                            <button type="submit" class="btn btn-danger btn-sm">
                                                <i class="fa fa-times fa-fw"></i>
                                            </button>
                                        </form>

                                    </td>
                                </tr>
                            }
                      
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="shoping__checkout">
                    <h5>Spet Toplam</h5>
                    <ul>
                        <li>Ara Toplam <span>  @Model.TotalPrice()<span> ₺</span></span></li>
                        <li>Toplam <span>  @Model.TotalPrice()<span> ₺</span></span></li>
                    </ul>
                    <a asp-controller="Cart" asp-action="Checkout" class="primary-btn">Ödeme Ekranı</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="shoping__cart__btns">
                    <a asp-controller="Shop" asp-action="AllList" class="primary-btn cart-btn">Alışverişe Devam Et</a>
                    <a asp-controller="Cart" asp-action="Checkout" class="primary-btn cart-btn cart-btn-right">
                        <span class="icon_loading"></span>
                        Alışverişi Tamamla
                    </a>
                </div>
            </div>

           
        </div>
    </div>
</section>

